/** @format */

// import vendors partials
@import "partials/normalize";
@import "partials/main";

// import bourbon sass framework
@import "../bower_components/bourbon/core/bourbon";
// import breakpoint sass framework
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";
// import variables
@import "partials/variables";
// import mixins
@import "partials/mixins";

@include font("Goldman");

%wrapper {
  background-color: tint(rgb(0, 0, 255), 50%);
  background-color: shade(rgba(0, 0, 255, 0.5), 50%);
  color: #fff;
}

%image--dimensions {
  width: $fill-parent;
  min-width: $fill-parent;
  max-width: $fill-parent;
  height: $fill-parent;
  min-height: $fill-parent;
  max-height: $fill-parent;
}

%title {
  text-align: center;

  font-variant-caps: all-petite-caps;
}

body {
  font-family: "Goldman";
  scroll-behavior: smooth;
  padding: 20px;

  .wrapper {
    width: $content--width;
    min-width: $min__content--width;
    max-width: $max__content--width;
    margin: $margin--middle;

    @extend %wrapper;

    @include breakpoint(print) {
      background-color: #456789;
    }

    .flexbox__gallery-title {
      @extend %title;
      @include padding(50px null null null);
    }
    .header {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;

      height: $header--height;

      &__image {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100px;
        margin: 20px;
        min-width: $min__image--width;
        max-width: $max__image--width;
        min-height: $min__image--height;
        max-height: $max__image--height;
      }
      &__image--one {
      }
      &__image-two {
      }
      &__image--three {
      }
      &__image--four {
      }
    }
    .css-grid__gallery-title {
      @extend %title;

      @include breakpoint(max-width 320px) {
        margin-top: 62%;
      }

      // @include breakpoint(500px 699px) {
      //   margin-top: 42%;
      // }

      @media screen and (min-width: 500px) and (max-width: 699px) {
        margin-top: 42%;
      }

      // @include breakpoint(320px 500px) {
      //   margin-top: ;
      // }

      @media screen and (min-width: 320px) and (max-width: 500px) {
        margin-top: 60%;
      }
    }
    .css-grid__boxes--rows {
      @include margin(30px 20px null 20px);
      display: grid;
      grid-template-rows: repeat(2, 100px);
      grid-template-columns: repeat(4, minmax(100px, 1fr));

      grid-template-areas:
        "image1 image2 image2 ."
        "image1 . image3 image4"
        "image5 image6 image6 image7"
        "image8 image9 image9 ."
        "image10 . image11 image12"
        "image13 image14 image14 image14";
      gap: 30px 15px;
      grid-auto-flow: row dense;
      grid-auto-rows: 100px 150px 200px 250px 50px;

      @include breakpoint(max-width 610px) {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        grid-template-areas:
          "image1 image2 image2"
          "image1  image3 image4"
          "image5 image6 image7"
          "image8 image9 image9"
          "image10 image11 image12"
          "image13 image14 image14";
      }

      @include breakpoint(max-width 480px) {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-template-areas:
          "image1 image2"
          "image3 image4"
          "image5 image6"
          "image7 image8"
          "image9 image10"
          "image11 image12"
          "image13 image14";
      }

      &__image {
        @extend %image--dimensions;
      }
      &__image--one {
        grid-area: image1;
      }
      &__image--two {
        grid-area: image2;
      }
      &__image--three {
        grid-area: image3;
      }
      &__image--four {
        grid-area: image4;
      }
      &__image--five {
        grid-area: image5;
      }
      &__image--six {
        grid-area: image6;
      }
      &__image--seven {
        grid-area: image7;
      }
      &__image--eight {
        grid-area: image8;
      }
      &__image--nine {
        grid-area: image9;
      }
      &__image--ten {
        grid-area: image10;
      }
      &__image--eleven {
        grid-area: image11;
      }
      &__image--twelve {
        grid-area: image12;
      }
      &__image--thirteen {
        grid-area: image13;
      }
      &__image--fourteen {
        grid-area: image14;
      }
    }
    .css-grid__gallery--implicit-columns--title {
      @extend %title;

      @include margin(80px null null null);
    }
    .css-grid__boxes--columns {
      position: relative;
      @include margin(30px 20px null 20px);
      padding-bottom: 50px;
      display: grid;
      grid-template-rows: repeat(6, 100px);
      grid-template-columns: repeat(2, minmax(60px, 1fr));
      grid-template-areas:
        "image1 image7"
        "image2 image8"
        "image3 image9"
        "image4 image10"
        "image5 image11"
        "image6 image12";
      gap: 15px 30px;
      grid-auto-flow: column dense;
      grid-auto-columns: minmax(60px, 2fr) minmax(60px, 1fr) 200px 250px 50px;

      @include breakpoint(1px 470px) {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-auto-flow: row;
        grid-auto-rows: 150px;
      }

      &__image {
        @extend %image--dimensions;
      }
      &__image--one {
        grid-area: image1;
      }
      &__image--two {
        grid-area: image2;
      }
      &__image--three {
        grid-area: image3;
      }
      &__image--four {
        grid-area: image4;
      }
      &__image--five {
        grid-area: image5;
      }
      &__image--six {
        grid-area: image6;
      }
      &__image--seven {
        grid-area: image7;
      }
      &__image--eight {
        grid-area: image8;
      }
      &__image--nine {
        grid-area: image9;
      }
      &__image--ten {
        grid-area: image10;
      }
      &__image--eleven {
        grid-area: image11;
      }
      &__image--twelve {
        grid-area: image12;
      }
      .lead {
        position: absolute;
        right: 0%;
        bottom: 2%;

        @include breakpoint(1px 710px) {
          display: none;
        }
      }
    }
  }
  .fill-fit__container {
    width: 90%;
    margin: $margin--middle;

    // auto-fill
    .auto-fill__boxes-title {
      @extend %title;
      margin-top: 40px;
    }

    .auto-fill__boxes {
      @include margin(20px auto null auto);
      width: 95%;
      display: grid;
      grid-template-rows: repeat(1, 150px);
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      grid-auto-flow: row;
      grid-auto-rows: 100px 200px 250px 150px 200px 250px;
      gap: 40px 30px;

      &__image {
        @extend %image--dimensions;
      }
    }

    // auto-fit
    .auto-fit__boxes-title {
      @extend %title;
      margin-top: 40px;
    }

    .auto-fit__boxes {
      @include margin(20px auto null auto);
      width: 95%;
      display: grid;
      grid-template-rows: repeat(1, 150px);
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-auto-flow: row;
      grid-auto-rows: 100px 200px 250px 150px 200px 250px;
      gap: 40px 30px;

      &__image {
        @extend %image--dimensions;
      }
    }
  }
}
