// mixins

@mixin position--middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin font($family) {
  @import url(https://fonts.googleapis.com/css2?family=#{$family});
}
